*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html{
    overflow-y: overlay;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: .7rem;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(247.44deg, #F2AA3D -11.75%, #FFC736 115.8%);
    border-radius: .5rem;
}

.container{
    justify-content: center;
}

p.price{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 160%;
}

.text-center{
    margin: 0 40px;
}

.row{
    align-items: center;
    z-index: -3;
    background: rgba(255, 255, 255, 0);
}


.box{
    position: absolute;
    width: 96px;
    height: 179px;
    left: 836px;
    top: 0px;
    background: #F2AA3D;
    border-radius: 0px 0px 10px 10px;
    z-index: 1;
}

.box-2{
    position: absolute;
    width: 96px;
    height: 324px;
    left: 0;
    top: 550px;
    background: #F2AA3D;
    border-radius: 0px 0px 10px 10px;
    transform:matrix(0, 1, 1, 0, 0, 0);
    z-index: 1;
}

.box-3{
    position: absolute;
    width: 96px;
    height: 324px;
    right: 0;
    margin-right: -65px;
    top: 120px;
    background: #F2AA3D;
    border-radius: 10px 10px 0px 0px;
    transform:matrix(0, 1, 1, 0, 0, 0);
    z-index: 1;
}

body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.logo{
    max-width: 60px;
    border-radius: 50%;
}

p{
    text-align: justify;
}


/* Animation */
.anim {
	animation-name: updown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transition: all .3s;
}

@-keyframes updown{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(0px);
    }
}

h1{
    font-family: 'Raleway', sans-serif;
}

.header-1{
    position: relative;
    width: 610px;
    height: 554px;
    border-bottom-right-radius: 50px;
    border-left: 0;
    border-top-right-radius: 0;
    top: 0;
    left: 0;
    object-fit: cover;
    margin-top: -160px;
}

.bg{
    background-color: transparent;
}

.navbar{
    background-color: #F2AA3D;
    margin: 2.5em 3.5em;
    padding: 5px 10px;
    border-radius: 84px;
    z-index: 3;
}


li .nav-link{
    color: #2b2b2b;
    font-weight: 600;
}

.navbar-toggler:focus{
    box-shadow: none;
}

li .nav-link:hover{
    padding: 5px;
    border-radius: 6px;
    background-color: #F2AA3D;
    color: #fff;
    border-color: transparent;
}

.btn-primary{
    padding: 15px 10px;
    position: relative;
    background-color: #F2AA3D;
    border-style: none;
    font-weight: 700;
    color: #2b2b2b;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 17px rgba(0, 0, 0, 0.2));
}

.btn-primary:focus{
    background-color: #e28e10;
    border-style: none;
    box-shadow: none;
}

.btn-primary:hover{
    background-color: #e28e10;
    box-shadow: none;
}

.btn-secondary{
    margin-top: 20px;
    background-color: #F2AA3D;
    border-style: none;
    width: 200px;
    height: 70px;
    font-size: 24px;
    font-weight: 700;
    color: #2b2b2b;
    border-radius: 13px;
    filter: drop-shadow(0px 0px 17px rgba(0, 0, 0, 0.2));
}

.btn-secondary:focus{
    background-color: #e28e10;
    border-style: none;
    box-shadow: none;
}

.btn-secondary:hover{
    background-color: #e28e10;
    box-shadow: none;
}

.circle .svg{
    position: absolute;
    width: 15%;
    right: 0;
    top: 400px;
    z-index: 1;
}

.circle-2 .svg{
    position: absolute;
    width: 13%;
    right: 5%;
    top: 550px;
    z-index: 1;
}

.circle-3 .svg{
    position: absolute;
    width: 14%;
    right: 0;
    z-index: 1;
}

.circle-out{
    box-sizing: border-box;
    background: none;
    border: 17px solid #F2AA3D;
    height: 450px;
    width: 450px;
    margin-top: 80px;
    margin-left: -70px;
    position: absolute;
    border-radius: 50%;
    z-index: 2;
}

.offer{
    color: #2f2f2f;
    text-align: center;
}

.shop{
    width: 20%;
    height: 50%;
    margin-top: 40px;
    font-size: 1.5rem;
    border-style: none;
    padding: 17px 62px;
    background-color: #F2AA3D;
    border-radius: 13px;
}

/* Footer */
.footer{
    padding: 114px;
    background-color: #2b2b2b;
    margin-top: 60px;
    bottom: 0;
    display: flex;
}

.footer-logo{
    max-width: 60%;
}

.card{
    z-index: 2;
}

.card-img-top{
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

h6{
    color:#fff;
    font-weight: 700;
}

.card{
    border-radius: 10px;
    border-style: none;
    box-shadow: 0px 0px 21px 10px rgba(0, 0, 0, 0.076);;
}

.card-body{
    margin: 0 15px;
}

p.card-text{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

p.address{
    margin-top: 20px;
    margin-left: 0;
    color: #fff;
    font-family: 'Inter',sans-serif;
    font-weight: 200;
}

.footer .social{
    text-align: left;
}

.footer .social a{
    color: #fff;
    display: inline-block;
    font-size: 3.5rem;
    padding-right: 20px;
}
/* Responsive */
@media (max-width:768px){
    .btn-primary .btn-2{
        margin-left: 0;
        margin-right: 0;
        margin-top: 40px;
    }

    .choose-shirt{
        left: 12%;
    }
    .shirt-mockup{
        width: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        top: 50px;
    }

    .two .col-md-7{
        margin-top: 40px;
    }
    
    .circle-out{
        display: none;
    }

    .box-3{
        display: none;
    }

    .circle-2 .svg{
        display: none;
    }

    .header-1{
        width: 100%;
        border-bottom-right-radius: 0;
        top: 160px;
    }
    .navbar{
        background-color: #F2AA3D;
        box-shadow: 0px 0px 21px 10px rgba(0, 0, 0, 0.076);
        z-index: 3;
    }
    .logo{
        max-width: 50px;
        border-radius: 50%;
        z-index: 3;
    }
    .ul-bg{
        position: absolute;
        background-color: #F2AA3D;
        justify-content: space-evenly;
        align-items: center;
        width:100%;
        right: 0;
        left: 0;
        margin-top: -32px;
        padding-top: 45px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        min-height: 360px;
        z-index: -1;
    }
    li .nav-link{
        text-align: center;
    }
    h1,p{
        right: 0;
        left: 0;
    }
    p{
        margin-top: -2px;
    }
    .box, .box-2{
        display: none;
    }

    .circle{
        display: none;
    }

    .footer-logo{
        margin-bottom: 40px;
        width: 30%;
    }
}

@media (max-width:1200px) {
    .circle-3 .svg{
        position: absolute;
        width: 14%;
        right: 0;
        margin-right: 360px;
        top: 120px;
        z-index: 1;
    }
}

@media (max-width:992px) {

    .circle-3 .svg{
        display: none;
    }

    .shop{
        text-align: center;
    }

    .circle .svg{
        display: none;
    }

    .navbar{
        background-color: #F2AA3D;
        box-shadow: 0px 0px 21px 10px rgba(0, 0, 0, 0.076);
    }


    li .nav-link:hover{
        color: #fff;
    }

    .footer-logo{
        max-width: 80%;
    }
}

@media (max-width: 576px) {
    .footer{
        margin: 40px -70px;
    }
    .address{
        margin-right: -10px;
    }
    .btn-primary{
        margin-top: 10px;
    }
}

@media (max-width:450px) {
    .navbar{
        margin: 2.5em 1.5em
    }

}

@media (max-width: 360px){
    .navbar{
        margin: 2.5em 1.2em
    }
}